@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 249, 250, 251;
}

[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html {
  @apply bg-gray-50 transition-colors duration-200;
}

[data-theme='dark'] html {
  @apply bg-gray-900;
} 